.popup-open-place__close {
    width: 32px;
    height: 32px;
    position: absolute;
    right: -40px;
    top: -40px;
    cursor: pointer;
}

.popup-open-place__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 700px) {
    .popup-open-place__close {
      width: 20px;
      height: 20px;
      right: 0;
      top: -36px;
    }
}