.popup__save {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 700px) {
  .popup__save {
    max-width: 74px;
    font-size: 14px;
    line-height: 17px;
  }
}